.App {
  text-align: center;
}

.home h1 {
  margin-bottom: 0.5rem;
  color: #006600;
  text-align: left;
  padding: 1rem;
}

.home p {
  font-size: 20px;
  font-family: arial;
  padding: 1rem;
  text-align: left;
}

.items-grid {
  text-align: left;
  justify-content: center;
  line-height: normal;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.item-card {
  width: 200px;
  padding: 1rem;
  background-color: rbg(248, 248, 248);
  border-radius: 3px;
}

.item-card h2 {
  font-size: 20px;
  font-family: 'Arial';
  font-weight: bold;
  color: #006600;
}

.item-card p {
  font-size: 20px;
  font-family: 'Arial';
  margin-bottom: 0.2rem;
  text-align: left;
}

.item-card button {
  width: 200px;
  padding: 0.3rem;
  font-size: 20px;
  border: 0;
}

img {
  float: right;
  padding: 5px;
}

nav {
  box-shadow: rgba(0, 0, 0, 0.08) 0 5px 8px;
}

nav h1 {
  text-align: center;
  margin: 0;
  padding: 1.5rem;
  background-color: #006600;
  color: white;
}

nav ul {
  display: flex;
  font-size: 20px;
  font-family: arial;
  justify-content: center;
  gap: 1rem;
  margin: 0;
  padding: 0.5rem 0;
  list-style: none;
}

nav p,
a {
  margin: 0;
  color: #444444;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}